//
// Typography
//

// Links
a {
	color: darken(@base-color, 10%);
	text-decoration: none;

	&:hover {
	  text-decoration: underline;
	}
}

// Formatting
strong, b {
  font-family: Ubuntu, Arial, sans-serif;
	font-weight: bold;
}

em, i	{
	font-style: italic;
}

small	{
	font-size: smaller;
}

sup, sub {
	font-size: 75%;
	height: 0;
	line-height: 1;
	vertical-align: baseline;
	position: relative;
}

sup {
	bottom: 1ex;
}

sub {
	top: .5ex;
}

// Quotes
blockquote {
  color: #999;
  margin: 0;
	padding-left: 10px;
	border-left: 5px solid #dcdcdc;
}

// Marking
mark {
	background: @sucess;
	color: #fff;
	padding: 2px 5px;
	border-radius: 3px;
}

// Headings
h1, h2, h3 {
	font-weight: bold;
	line-height: 1.1;	
}

h1 {font-size: 28px;}

h2 {font-size: 24px;}

h3 {font-size: 20px;}

// Horizontal line
hr {
  margin: 50px 0;
  border: 0;
	background: #f0f0f0;
	height: 1px;
}

.divide {
  background: #ccc;
}
