/*
 * In a healthy body, a healthy mind
 */


body {
  padding-top: 2%;
  color: #000;
  background-image: url("/assets/img/background.svg");
  background-attachment: fixed;
}

body > .container-lg {
  background-color: rgba(255,255,255,0.8);
}

@media (min-width: 992px) {
  body > .container-lg {
    width: 50%;
  }
}

h1, h2, h3 {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif;
}

h1[id] a,
h2[id] a {
  color: #000;
}

.nav-pills .nav-link {
  border-radius: 0;
}
.nav-pills + hr {
  margin-top: 0;
}

.card-columns > p,
li > p {
  margin: 0;
}

@media (min-width: 576px) {
  .card-columns {
    column-count: 2;
  }
}
