/*!
 
          |          o    |
,---,,---|,---.,---..,---|
 .-' |   ||    |   |||   |
'---'`---'`    `---'``---'

*/
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden] {
  display: none;
}
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
body {
  margin: 0;
}
a:focus {
  outline: thin dotted;
}
a:active,
a:hover {
  outline: 0;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
mark {
  background: #ff0;
  color: #000;
}
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}
pre {
  white-space: pre-wrap;
}
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 0;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}
button,
input {
  line-height: normal;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
time {
  color: #999;
}
.pagination {
  text-align: center;
  margin: 0 auto;
}
body {
  padding: 5% 20%;
  background: #fff;
  font: 17px/1.5 "Ubuntu Light", Arial, sans-serif;
  color: #2c3e50;
  -webkit-font-smoothing: antialiased;
}
@media only screen and (max-width: 767px) {
  body {
    padding: 5% !important;
  }
}
a {
  color: #1a242f;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
strong,
b {
  font-family: Ubuntu, Arial, sans-serif;
  font-weight: bold;
}
em,
i {
  font-style: italic;
}
small {
  font-size: smaller;
}
sup,
sub {
  font-size: 75%;
  height: 0;
  line-height: 1;
  vertical-align: baseline;
  position: relative;
}
sup {
  bottom: 1ex;
}
sub {
  top: .5ex;
}
blockquote {
  color: #999;
  margin: 0;
  padding-left: 10px;
  border-left: 5px solid #dcdcdc;
}
mark {
  background: #99cc00;
  color: #fff;
  padding: 2px 5px;
  border-radius: 3px;
}
h1,
h2,
h3 {
  font-weight: bold;
  line-height: 1.1;
}
h1 {
  font-size: 28px;
}
h2 {
  font-size: 24px;
}
h3 {
  font-size: 20px;
}
hr {
  margin: 50px 0;
  border: 0;
  background: #f0f0f0;
  height: 1px;
}
.divide {
  background: #ccc;
}
code,
kbd,
pre {
  font: 15px "Ubuntu Mono", "Courier New", monospace;
}
code {
  color: #ff4444;
}
pre {
  padding: 10px;
  background: rgba(0, 0, 0, 0.01);
}
pre code {
  color: #777;
}
.highlight .hll {
  background: #49483e;
}
.highlight .c {
  color: #75715e;
}
.highlight .err {
  color: #cc0000;
  font-weight: bold;
}
.highlight .k {
  color: #0099cc;
}
.highlight .l {
  color: #9933cc;
}
.highlight .n {
  color: #111;
}
.highlight .o {
  color: #cc0000;
}
.highlight .p {
  color: #111;
}
.highlight .cm {
  color: #75715e;
}
.highlight .cp {
  color: #75715e;
}
.highlight .c1 {
  color: #75715e;
}
.highlight .cs {
  color: #75715e;
}
.highlight .ge {
  font-style: italic;
}
.highlight .gs {
  font-weight: bold;
}
.highlight .kc {
  color: #0099cc;
}
.highlight .kd {
  color: #0099cc;
}
.highlight .kn {
  color: #cc0000;
}
.highlight .kp {
  color: #0099cc;
}
.highlight .kr {
  color: #0099cc;
}
.highlight .kt {
  color: #0099cc;
}
.highlight .ld {
  color: #ff8800;
}
.highlight .m {
  color: #9933cc;
}
.highlight .s {
  color: #ff8800;
}
.highlight .na {
  color: #669900;
}
.highlight .nb {
  color: #111;
}
.highlight .nc {
  color: #669900;
}
.highlight .no {
  color: #0099cc;
}
.highlight .nd {
  color: #669900;
}
.highlight .ni {
  color: #111111;
}
.highlight .ne {
  color: #669900;
}
.highlight .nf {
  color: #669900;
}
.highlight .nl {
  color: #111;
}
.highlight .nn {
  color: #111111;
}
.highlight .nx {
  color: #669900;
}
.highlight .py {
  color: #111;
}
.highlight .nt {
  color: #cc0000;
}
.highlight .nv {
  color: #111;
}
.highlight .ow {
  color: #cc0000;
}
.highlight .w {
  color: #111;
}
.highlight .mf {
  color: #9933cc;
}
.highlight .mh {
  color: #9933cc;
}
.highlight .mi {
  color: #9933cc;
}
.highlight .mo {
  color: #9933cc;
}
.highlight .sb {
  color: #ff8800;
}
.highlight .sc {
  color: #ff8800;
}
.highlight .sd {
  color: #ff8800;
}
.highlight .s2 {
  color: #ff8800;
}
.highlight .se {
  color: #8045ff;
}
.highlight .sh {
  color: #ff8800;
}
.highlight .si {
  color: #ff8800;
}
.highlight .sx {
  color: #ff8800;
}
.highlight .sr {
  color: #ff8800;
}
.highlight .s1 {
  color: #ff8800;
}
.highlight .ss {
  color: #ff8800;
}
.highlight .bp {
  color: #111;
}
.highlight .vc {
  color: #111;
}
.highlight .vg {
  color: #111;
}
.highlight .vi {
  color: #111;
}
.highlight .il {
  color: #9933cc;
}
[class^="btn-"] {
  color: #fff;
  font-weight: bold;
  padding: 6px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 3px;
}
[class^="btn-"]:hover {
  text-decoration: none;
}
.btn-brand {
  background: #aa66cc;
}
.btn-brand:hover {
  background: #b579d2;
}
.btn-brand:active {
  background: #9933cc;
}
.btn-info {
  background: #33b5e5;
}
.btn-info:hover {
  background: #4abde8;
}
.btn-info:active {
  background: #0099cc;
}
.btn-sucess {
  background: #99cc00;
}
.btn-sucess:hover {
  background: #ace600;
}
.btn-sucess:active {
  background: #669900;
}
.btn-warning {
  background: #ffbb33;
}
.btn-warning:hover {
  background: #ffc34d;
}
.btn-warning:active {
  background: #ff8800;
}
.btn-danger {
  background: #ff4444;
}
.btn-danger:hover {
  background: #ff5e5e;
}
.btn-danger:active {
  background: #cc0000;
}
img {
  border-radius: 10px;
}
@media only screen and (max-width: 767px) {
  img {
    max-width: 90%;
    max-height: 40%;
  }
}
.thumb {
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.3);
}
.img-link:hover {
  text-decoration: none;
}
