<!DOCTYPE html>
<html lang="{{ site.language }}">
  <head>
    <meta charset="utf-8">
    <title>
      {% if page.slug %}{{ page.title }} &middot; {% endif %}
      {{ site.title }}
    </title>
    <meta name="author" content="{{ site.author }}">
    <meta name="description" content="{{ site.description }}">
    <meta name="keywords" content="{{ site.keywords }}">
    <meta name="robots" content="noodp,noydir">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/app.css">
    <link rel="icon" type="image/x-icon" href="{{ site.baseurl }}/assets/img/favicon.ico">
  </head>
  <body>
    <div class="container">

      <!-- Header -->
      <header class="header">
        <h1>
          {{ site.title }}
        </h1>
        <p>
          <img class="img-thumbnail logo" src="{{ site.baseurl }}/assets/img/logo.png" width="150" height="150" alt="{{ site.title }}">
        </p>
        <p>{{ site.description }}</p>
        <a class="sr-only" href="#content">Skip to main content</a>
        <ul class="list-inline">
          <li>
            <i class="fa fa-home text-success"></i>
            <a href="{{ site.baseurl }}/">Home</a>
          </li>
          {% for item in site.pages %}
          {% if item.slug %}
          <li>
            <i class="fa fa-{{ item.icon }} text-success"></i> 
            <a href="{{ item.url }}">{{ item.title }}</a>
          </li>
          {% endif %}
          {% endfor %}
          <li>
            <i class="fa fa-twitter text-success"></i> 
            <a href="https://twitter.com/{{ site.twitter }}">Twitter</a>
          </li>
          <li>
            <i class="fa fa-github text-success"></i> 
            <a href="https://github.com/{{ site._github }}">GitHub</a>
          </li>
        </ul>
      </header>

      <hr>

      <!-- Content -->
      <main id="content">
        <h2>{{ page.title }}</h2>
        <p class="lead">{{ page.lead }}</p>
        {{ content }}
      </main>
    </div>

    <!-- Google Analytics -->
    {% include analytics.html %}
  </body>
</html>
