<!DOCTYPE html>
<html lang="{{ site.language }}">
  <head>
    <meta charset="utf-8">
    <title>{% if page.slug %}{{ page.title }} &middot; {% endif %}{{ site.title }}</title>
    <meta name="author" content="{{ site.author }}">
    <meta name="description" content="{{ site.description }}">
    <meta name="keywords" content="{{ site.keywords }}">
    <meta name="robots" content="noodp,noydir">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/assets/css/app.css">
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-3 asidehead">
          <div class="page-header"><h1>{{ site.title }}</h1></div>
          <p>
            <a href="/">
              <img class="img-thumbnail" src="/zd.png" width="150" height="150" alt="ZDroid">
            </a>
          </p>
          <p>{{ site.description }}</p>
          <div class="btn-group-vertical nav-btn">
            {% for item in site.pages %}
            {% if item.slug %}
            <a class="btn btn-{% if page.slug == item.slug %}success{% else %}default{% endif %}" href="{{ item.url }}">
                <i class="fa fa-{{ item.icon }} pull-right"></i>
                {{ item.title }}
              </a>
            </li>
            {% endif %}
            {% endfor %}
            <a class="btn btn-default" href="https://twitter.com/{{ site.twitter }}">
              <i class="fa fa-twitter pull-right"></i> Twitter
            </a>
            <a class="btn btn-default" href="https://github.com/{{ site.github }}">
              <i class="fa fa-github pull-right"></i> GitHub
            </a>
          </div>
        </div>
        <div class="col-md-7 col-md-push-3">
          <div class="page-header"><h1>{{ page.title }}</h1></div>
          <p class="lead">{{ page.lead }}</p>
          {{ content }}
        </div>
      </div>
    </div>
    <script>
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-33643623-2']);
      _gaq.push(['_trackPageview']);
      (function () {
        var ga = document.createElement('script');
        ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </body>
</html>