<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% if page.slug == "home" %}{{ site.title }}{% else %}{{ page.title }} &middot; {{ site.title }}{% endif %}</title>
    <meta name="description" content="{{ site.description }}">
    <meta name="author" content="{{ site.author }}">
    <meta name="keywords" content="zdroid, github, design, programming">
    <meta name="robots" content="noodp,noydir">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/assets/css/bootstrap.css">
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <div class="page-header"><h1>{{ site.title }}</h1></div>
          <p><a href="/">
            <img class="thumbnail" src="/zd.png" width="150" height="150" alt="ZDroid">
          </a></p>
          <p>{{ site.description }}</p>
          <ul class="nav nav-pills nav-stacked">
            <li{% if page.slug == "projects" %} class="active"{% endif %}>
              <a href="/projects">
                <i class="fa fa-rocket pull-right"></i> Projects
              </a>
            </li>
            <li{% if page.slug == "links" %} class="active"{% endif %}>
              <a href="/links">
                <i class="fa fa-link pull-right"></i> Links
              </a>
            </li>
            <li>
              <a href="http://twitter.com/{{ site.twitter }}">
                <i class="fa fa-twitter pull-right"></i> Twitter
              </a>
            </li>
            <li>
              <a href="http://github.com/{{ site.github }}">
                <i class="fa fa-github pull-right"></i> GitHub
              </a>
            </li>
          </ul>
        </div>
        <div class="col-md-7">
          <div class="page-header"><h1>{{ page.title }}</h1></div>
          <p class="lead">{{ page.lead }}</p>
          {{ content }}
        </div>
      </div>
    </div>
    <script>
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-33643623-2']);
      _gaq.push(['_trackPageview']);
      (function () {
        var ga = document.createElement('script');
        ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </body>
</html>